.home-head figure {
  width: 39%;
  position: relative;
  top: -20px; }
  .home-head figure img {
    width: 100%; }

.home-head {
  padding: 100px 0 123px; }
  .home-head .mob {
    display: none; }

.home-head .top .wrap {
  padding-top: 14px; }

.home-head .top .wrap p {
  line-height: 37px; }

.home-head .top h1 {
  margin-bottom: 36px; }

.text-slider .swiper-pagination {
  right: -5px; }

.home-head .btn-wrap {
  padding-left: 0;
  margin-top: 33px;
  grid-gap: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .home-head .btn-wrap a {
    min-width: 200px; }

.btn-red {
  font-size: 18px;
  height: 56px;
  line-height: 56px;
  text-align: center; }

.btn-download-red {
  font-size: 18px;
  border: 1px solid #F92A47;
  height: 56px;
  line-height: 38px;
  background: #fff;
  color: #F92A47;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .btn-download-red .wrap-icon {
    background: #F92A47; }
  .btn-download-red .wrap-icon:after {
    background: #fff; }

.buy-experts h2 {
  width: 100% !important;
  margin-bottom: 27px;
  text-align: center; }

.buy-experts .text-wrap {
  width: 100% !important;
  padding: 0 !important; }
  .buy-experts .text-wrap p {
    text-align: center;
    margin: 0 auto 1px;
    width: 880px;
    max-width: 100%;
    color: #8993a6;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px; }
  .buy-experts .text-wrap p:last-child {
    margin-bottom: 0; }

.buy-experts {
  padding: 100px 0 100px; }

.buy-experts ul {
  grid-gap: 60px 60px; }
  .buy-experts ul li {
    margin: 0 !important;
    border-radius: 10px;
    background: #2e334d;
    padding: 22px 20px 20px;
    width: calc(33.33% - 40px); }

.buy-experts .top {
  margin-bottom: 80px; }

.buy-experts ul li p {
  color: #8993a6;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px; }

.buy-experts ul li h6 {
  margin-bottom: 15px; }

.areas-use {
  padding: 142px 0 0;
  margin: 0 0 90px; }

.areas-use h2 {
  margin-bottom: 26px; }

.areas-use .swiper-slide .text-wrap h5 {
  color: #25293d;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px; }

.areas-use .swiper-pagination-bullet {
  margin-bottom: 35px !important; }

.areas-use .swiper-slide .text-wrap h5 {
  margin-bottom: 25px; }

.areas-use .swiper-slide .text-wrap p {
  color: #516174;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px; }

.areas-use .swiper-slide .wrap-head {
  margin-bottom: 60px; }

.areas-use .swiper-slide .text-wrap .link-wrap ul li a {
  border: 1px solid #f92a47;
  border-radius: 4px;
  height: 32px;
  line-height: 30px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
  display: inline-block; }
  .areas-use .swiper-slide .text-wrap .link-wrap ul li a:hover {
    background: #f92a47;
    color: #fff; }

.areas-use .swiper-slide .text-wrap .link-wrap ul {
  grid-gap: 8px 8px; }
  .areas-use .swiper-slide .text-wrap .link-wrap ul li {
    margin: 0 !important; }

.free-use {
  background: #25293d;
  padding: 0;
  position: relative; }
  .free-use .bg-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden; }
    .free-use .bg-bg img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: auto; }
  .free-use .content-width {
    position: relative;
    z-index: 3; }
  .free-use h2 {
    font-size: 68px;
    font-weight: 500;
    line-height: 72px;
    max-width: 100% !important;
    margin-bottom: 26px; }
    .free-use h2 span {
      color: #f92a47; }
  .free-use .btn-download {
    width: 315px; }

.free-use .text-wrap {
  width: 48%;
  padding: 305px 0 305px 1px; }

.free-use p {
  color: #8993a6;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px; }

.btn-download {
  font-size: 18px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.free-use figure img {
  top: 0;
  height: 100%;
  width: auto !important;
  right: -19%;
  max-width: inherit; }

.our-clients .nav-wrap {
  max-width: 140px; }

.our-clients .swiper-button-next:after, .our-clients .swiper-button-prev:after {
  color: #25293d; }

.our-clients .top .text-wrap {
  width: 49%;
  padding: 13px 0 0 15px; }

.our-clients .top .text-wrap p {
  color: #516174;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px; }

.our-clients .top {
  margin-bottom: 145px; }

.our-clients .swiper-slide figure {
  width: 220px;
  height: 220px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #d6dae2;
  overflow: hidden;
  background: #fff; }
  .our-clients .swiper-slide figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain; }

.our-clients .swiper-slide {
  height: auto !important; }

.education {
  padding: 50px 0 50px; }
  .education .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 110px; }
  .education h2 {
    width: 400px;
    margin: 0; }
  .education .text-wrap {
    width: calc(100% - 750px);
    padding-top: 24px; }
    .education .text-wrap p {
      color: #516174;
      font-size: 20px;
      font-weight: 400;
      line-height: 26px; }
  .education .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .education .content .item {
      width: 380px;
      height: 380px;
      border-radius: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 1px solid #f92a47;
      padding: 70px 100px 50px; }
      .education .content .item .title {
        color: #f92a47;
        font-size: 134px;
        font-weight: 400;
        line-height: 140px;
        margin-bottom: 1px;
        text-align: center; }
      .education .content .item p {
        color: #516174;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        text-align: center;
        margin: 0; }
    .education .content .item-big {
      width: 456px;
      height: 456px;
      background: #f92a47;
      position: relative;
      top: -75px;
      padding: 70px 75px 50px; }
      .education .content .item-big .title {
        color: white;
        font-size: 134px;
        font-weight: 400;
        line-height: 140px; }
      .education .content .item-big p {
        color: #fff; }

.our-clients {
  padding-bottom: 150px; }

.courses .content .item {
  background: #fff; }

.news {
  position: relative; }
  .news .bg img {
    position: absolute;
    top: 145px;
    left: -5px; }
  .news h2 {
    text-align: left; }

.news .content-width .btn-wrap a {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px; }
  .news .content-width .btn-wrap a:after {
    bottom: -4px; }

.news .content-width .btn-wrap {
  top: 28px; }

.news h6 {
  color: #25293d;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px; }

.news .text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; }

.news p.date {
  margin-bottom: 8px; }

.news {
  padding-bottom: 140px; }

.home-head figure:after {
  display: none; }

/*# sourceMappingURL=styles3.css.map */